Config
    { font = "xft:Hack:size=12:antialias=true"
    , additionalFonts = []
    , borderColor = "black"
    , border = TopB
    , bgColor = "black"
    , fgColor = "grey"
    , alpha = 255
    , position = Bottom
    -- , position = Top
    , textOffset = -1
    , iconOffset = -1
    , lowerOnStart = True
    , pickBroadest = False
    , persistent = False
    , hideOnStart = False
    , iconRoot = "."
    , allDesktops = True
    , overrideRedirect = True
    , commands =
        [ Run Network "enp34s0" ["-L","0","-H","32", "--normal","green","--high","red"] 10
        -- , Run Network "tun0" ["-L","0","-H","32", "--normal","green","--high","red"] 10
        , Run MultiCpu ["-t" , "CPU: <autototal>", "-p", "2", "-c", "0", "-L","10","-H","50", "--normal","green","--high","red"] 10
        -- , Run CoreTemp ["-t", "cpu: <core0>° core1: <core1>° core2: <core2>°", "-L", "40", "-H", "60", "-l", "lightblue", "-n", "gray90", "-h", "red"] 50
        , Run Memory ["-t","Mem: <usedratio>%"] 10
        -- , Run Swap [] 10
        -- , Run CpuFreq ["-t", "Freq: <cpu0> <cpu1> <cpu2> <cpu3> <cpu4> <cpu5> <cpu6> <cpu7>", "-L", "1", "-H", "3", "-l", "lightblue", "-n","white", "-h", "red"] 50
        , Run Date "%a %Y-%m-%d %H:%M:%S" "date" 10
        , Run Com "/home/richard/.xmonad/xmobar-temperature-status-line.sh" [] "temps" 100
        ]
    , sepChar = "%"
    , alignSep = "}{"
    , template = "%multicpu% | %memory% | %temps% | %enp34s0% }{ <fc=#ee9a00>%date%</fc>"
    }
