Config { font = "xft:Hack:size=12:antialias=true"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 255
       , position = Bottom
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Network "enp30s0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Network "tun0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run MultiCpu ["-t" , "Cpu: <autototal>",
                                    "-L","3","-H","50",
                                    "--normal","green","--high","red"] 10
                    , Run CoreTemp ["-t", "cpu: <core0>° cores: <core1>° <core2>° <core3>° <core4>°",
                                    "-L", "40", "-H", "60",
                                    "-l", "lightblue", "-n", "gray90", "-h", "red"] 50
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Date "%a %Y-%m-%d %Y %H:%M:%S" "date" 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%multicpu% | %memory% %swap% | %coretemp% | %enp30s0% }\
                    \{ <fc=#ee9a00>%date%</fc>"
       }
