[user]
    email = github@rjohnson.id.au
	name = Richard Johnson
[push]
	default = simple
[color]
	ui = true
[alias]
    lg = log --decorate=short --graph --pretty=oneline --abbrev-commit --date=relative
